---
import Layout from "../layouts/LayoutMenu.astro";
import MembretesBGAnimated from "../components/MembretesBGAnimated.astro";
---

<Layout title="404 | Not Found">
    <MembretesBGAnimated />
  <main class="p-4 sm:p-8 mt-50">
    <h1 class="text-2xl font-bold text-white">404 | Not Found</h1>
    <p class="text-white mb-6">Lo siento, la página que estás buscando no se encuentra.</p>
    <p class="text-white mb-6">Intentalo de nuevo en unos minutos porfavor, en caso de persisitir, ponerse en contacto con el area de Sistemas.</p>
  </main>
</Layout>

