---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.svelte';

---

<Layout title="Estación - Valija Electrónica">
	<main>
		<LoginForm client:load />
	</main>
	<!-- <script>
		fetch('https://localhost:44345/api/Valija/GetIdProcesoDiaByFechaHD?fecha=2025-07-15&idEstacion=3')
      .then(response => {
        if (!response.ok) {
          throw new Error(`Error HTTP: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        console.log('¡Éxito! Datos recibidos de la API:', data);
      })
      .catch(error => {
        console.error('Falló la prueba de fetch directo:', error);
  });
	</script> -->
</Layout>
