---
import Layout from "../../layouts/LayoutRigth.astro";
import Input from "../../components/ConfirmInput.astro";
import Huella from "../../components/ConfirmHuella.astro";
export const prerender = false;

import "../../styles/global.css";
---

<Layout title={'Histórico de movimientos de carburante'}>
    <div class="container mx-auto bg-white font-sans p-6 rounded-lg">


            <!-- Tabla de Histórico de movimientos de carburante -->
      <div class="overflow-x-auto border border-gray-300 rounded-lg shadow-sm">
      <table class="min-w-full text-sm text-center text-gray-800">
        <caption class="text-base font-semibold text-gray-900 py-2"
          >Ultimas entradas</caption
        >
        <thead class="bg-gray-100 text-gray-700 uppercase text-xs">
          <tr>
            <th class="px-4 py-2 font-medium">Tanque</th>
            <th class="px-4 py-2 font-medium">Producto</th>
            <th class="px-4 py-2 font-medium">Volumen</th>
            <th class="px-4 py-2 font-medium">Volumen a 15 grados</th>
            <th class="px-4 py-2 font-medium">Importe total</th>
            <th class="px-4 py-2 font-medium">IVA retenido flete</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2 font-semibold text-center">Tanque 6</td>
            <td class="px-4 py-2 font-semibold text-center">34006 DIESEL</td>
            <td class="px-4 py-2 font-semibold text-center">9.990.00</td>
            <td class="px-4 py-2 font-semibold text-center">9.990.00</td>
            <td class="px-4 py-2 font-semibold text-center">235.486.53</td>
            <td class="px-4 py-2 text-green-600">0.00$</td>
          </tr>
          <tr>
            <td class="px-4 py-2 font-semibold text-center">Tanque 6</td>
            <td class="px-4 py-2 font-semibold text-center">34006 DIESEL</td>
            <td class="px-4 py-2 font-semibold text-center">9.989.00</td>
            <td class="px-4 py-2 font-semibold text-center">9.989.00</td>
            <td class="px-4 py-2 font-semibold text-center">235.462.95</td>
            <td class="px-4 py-2 text-green-600">0.00$</td>
          </tr>
        </tbody>
        <tfoot class="bg-gray-50 font-bold">
          <tr>
            <td class="px-4 py-2 text-center text-black-600">Total:</td>
            <td class="px-4 py-2 text-center text-green-600"></td>
            <td class="px-4 py-2 text-center text-black-600">19.979.00</td>
            <td class="px-4 py-2 text-center text-black-600">19.979.00</td>
            <td class="px-4 py-2 text-center text-black-600">470.949.48</td>
            <td class="px-4 py-2 text-center text-green-600">0.00$</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <br />

        <div class="border border-gray-300 rounded-md p-4 bg-gray-50">
            <Input
                inputId="input-archivo1"
                punto1Id="punto1-archivo1"
                punto2Id="punto2-archivo1"
                titulo="Subir talón de banco"
            />
            <!-- <Huella /> -->
        </div>
    </div>
</Layout>
