---
import Layout from "../../layouts/LayoutRigth.astro";
import Huella from "../../components/ConfirmHuella.astro";
export const prerender = false;
const idsSubprocesos = [23,24]; // IDs de subprocesos a actualizar

---

<Layout title="Resultados de Mermas Reguladas" idsSubprocesos={idsSubprocesos}>
  <div class=" p-8 max-w-5xl mx-auto font-sans rounded-lg bg-white">
    {/* Contenedor principal blanco con padding */}


    <!-- Tabla 1: Ventas de combustible -->
    <div
      class="overflow-x-auto border border-gray-300 rounded-lg shadow-sm mb-6"
    >
      <table class="min-w-full text-sm text-center text-gray-800">
        <caption class="text-base font-semibold text-gray-900 py-2"
          >Ventas de combustible</caption
        >
        <thead class="bg-gray-100 text-gray-700 uppercase text-xs">
          <tr>
            <th class="px-4 py-2 font-medium">Producto</th>
            <th class="px-4 py-2 font-medium">Volumen de la merma</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="px-4 py-2">32011.MAGNA</td>
            <td class="px-4 py-2">-3,351.07</td>
          </tr>
          <tr>
            <td class="px-4 py-2">32011.MAGNA</td>
            <td class="px-4 py-2">1,732.26</td>
          </tr>
          <tr>
            <td class="px-4 py-2">32011.MAGNA</td>
            <td class="px-4 py-2">2,602.25</td>
          </tr>
          <tr>
            <td class="px-4 py-2">32012.PREMIUM</td>
            <td class="px-4 py-2">-13,68</td>
          </tr>
          <tr>
            <td class="px-4 py-2">34006.DIESEL</td>
            <td class="px-4 py-2">2,943.89</td>
          </tr>
          <tr>
            <td class="px-4 py-2">34006.DIESEL</td>
            <td class="px-4 py-2">-3,084.85</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <Huella /> -->
  </div>
</Layout>
