---
import Layout from "../../layouts/LayoutRigth.astro";
import "../../styles/global.css";
import JarreoCards from '../../components/JarreoCards.svelte';
export const prerender = false;
const idsSubprocesos = [25,26,27,28]; // IDs de subprocesos a actualizar

---

<Layout title="Jarreo de Documentos" idsSubprocesos={idsSubprocesos}>
  <div class="max-w-5xl mx-auto p-8 bg-white rounded-md shadow-md">
    <h1 class="text-2xl font-bold mb-4">Jarreo de Documentos</h1>
    <p class="text-gray-600 mb-6">
      Agrega y gestiona los registros de jarreo. Cada uno requiere 3 archivos PDF: Extracciones, Retornos y Ticket Veeder Root.
    </p>
    <JarreoCards client:load />
  </div>
</Layout>